<div class="modal-header">
    <h4 class="modal-title pull-left">Good Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close"
            [disabled]="loading"
            (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="py-4 text-center">

        <div class="spinner-border text-primary" role="status" *ngIf="loading; else blockCompleted">
            <span class="sr-only">Loading...</span>
        </div>

        <ng-template #blockCompleted>
            Completed.
        </ng-template>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            [disabled]="loading"
            (click)="bsModalRef.hide()">
        Close
    </button>
</div>
